.bkg {
    background-color: white;
    color: rgb(100, 98, 98);
}

.div1 {
    width: 400px;
    background: linear-gradient(to bottom, white 50%, rgb(138, 198, 236) 50%);
    margin: auto;
}

/* Portfolio */
.portdiv {
    width: 650px;
    margin: auto;
}

.btndiv {
    margin: auto;
    background-color: rgb(237, 237, 237);
    align-items: center;
    overflow: hidden;
    width: 700px;
    text-align: center;
}


.navposi {
   
    overflow: hidden;
    width: 700px;
    text-align: center;
    margin: auto;
  }
 